.button{
  background-color: $button-color-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  line-height: 1.2;
  padding: $input-spacing;
  text-transform: uppercase;
  margin-bottom: $space;
  font-size: $base-font-size;
}
.button--secondary{
  color: $button-secondary-color;
  border: 1px solid $button-secondary-border-color;
  background-color: $button-secondary-bg;
}
.button--link{
  display: inline-block;
  text-decoration: none;
}

.button--pill{
  background-color: transparent;
  border: 1px solid $button-pill-color;
  color: $button-pill-color;
  padding: 0.3rem 0.8rem;
  margin: 0 ($space)/2 0 0;
}

.button--link-text{
  background: none;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  text-transform: none;
}